<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="wx">
    </context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>

    <!--因为在web.xml里配置了springmvc拦截所有的的资源，
    所以需要配置静态资源不拦截-->
    <mvc:default-servlet-handler />

    <!--文件上传
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880"/>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>-->

   <!-- 配置拦截器
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="wx.interceptor.myIntercepter1">
            </bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="wx.interceptor.myInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <!--配置登陆的拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="wx.interceptor.login.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>